html,body{
height:100%;
margin:0;
padding:0;
border:0;
}
ul.header{
background-color:#F77A52;
height:80px;
margin:0;
padding:0;
border:0;
}
ul.navbar{
background-image:url('images/nbg.png');
background-color:#644D52;
overflow:auto;
height:35px;
margin:0;
padding:0;
border:0;
}
ul.content{
background-image:url('images/cbg.png');
background-color:#332532;
padding:0;
border:0;
color:#d1ac7d;
text-shadow:#333333 1px 1px 1px;
font-family:arial;
font-size:12px;
position:absolute; 
top:0; 
bottom:0; 
left:0; 
right:0;
margin:auto; 
height:480px; 
width:100%;
}